
@media only screen and (min-width: 1024px) {
    
    /* Main Navigation */
    
    nav {
        border-style: none;
    }

    .primary-nav {
        display: flex;
        justify-content: flex-end;
        border-style: solid;
        padding: 0;
        margin: 0;
    }
    
    .secondary-nav {
        display: flex;
        justify-content: flex-end;
        border-style: solid;
        padding: 0;
        margin: 0;
    }
    
    .primary-nav > a {
        margin: 8px 15px;
    }
    
    .secondary-nav > a {
        margin: 2px 15px;
    }

    /* Footer */
    
    .large-3 {
        width: 25%;
    }

} /* end of media query */

