/* Main Navigation */
@media only screen and (min-width: 1024px) {
    
    nav {
        border-style: none;
    }

    #primary-nav {
        display: flex;
        justify-content: flex-end;
        border-style: solid;
        padding: 0;
        margin: 0;
    }
    
    #secondary-nav {
        display: flex;
        justify-content: flex-end;
        border-style: solid;
        padding: 0;
        margin: 0;
    }
    
    #primary-nav > li {
        margin: 8px 15px;
    }
    
    #secondary-nav > li {
        margin: 2px 15px;
    }

 

} /* end of media query */

