html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* Header */

header {
    display: block;
    text-align: center;
}

header img {
    max-width: 25%;
    margin: 10px;
}

/* Navigation */

nav {
    border-style: solid;
    padding: 0;
}

nav > div {
    display: block;
    text-align: center;
    padding: 0;
}

.primary-nav a {
    margin-bottom: 0;
    display: block;
}

.secondary-nav a {
    margin-top: 0;
    display: block;
}

nav > div > input {
    max-width: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Homepage Hero Section */

.hero {
    border-style: solid;
    display: block;
    text-align: center;
    padding: 50px 0;
}

/* Homepage - Who we are section */

.homepage-who-we-are {
    border-style: solid;
    display: block;
    text-align: center;
}


/* Hompage Products */

.homepage-products > a {
    list-style: none;
    border-style: solid;
    padding: 10px;
    margin: 15px;
    display: block;
    text-align: center;
    margin: 15px auto;
    max-width: 50%;
}

.homepage-products > button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 8px;
}

/* Grid Rules */

.row {
    clear: both;
}

.limited {
    max-width: 1140px;
    margin: auto;
}

.column {
    float: left;
    padding: 0 2vw 0 2vw;
    margin: 0 0 .75rem 0;
    text-align: center;
}

.small-12 {
    width: 100%;
}

/* Footer */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}