

    
    /* Grid Rules */
    
    .large-3 {
        flex-basis: 25%;
    }
    

    /* Header */

    header img {
        float: left;
        margin-left: 15px;
    }

    /* Navigation */

    .burger i {
        display: none;
    }

    #header-right {
        display: flex;
        flex-direction: row-reverse;
    }

    .nav {
        display: flex;
        position: relative;
        right: auto;
        top: auto;
        flex-direction: row;
        justify-content: space-around;
        border: none;
        background-color: none;
        height: auto;
        align-items: center;
    }

    #primaryNav {
        flex-direction: row;
        margin: 0;
        margin-right: 1em;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-link {
        margin: 1em;
        padding: 0;
    }
    .nav-link:hover {
        cursor: pointer;
        background-color: transparent;
        color: $primaryColor;
    }

    #primaryNav li:hover {
        background-color: transparent;
        cursor: default;
    }

    header div input {
        margin-right: 2em;
    }
    
    


