

    /* Grid Rules */

    .medium-6 {
        flex-basis: 50%;
    }

    .medium-4 {
        flex-basis: 33.33333333333%;
    }

    .industries-column {
        flex-direction: row;
    }
    
    #industries-content {
        flex-basis: 40%;
        margin: 5% 0;
    }

    #industries-list {
        flex-basis: 60%;
    }

    
    /* Homepage Product */

    /* Form Rules */

    .parent-form {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .form-cart {
        margin: 1em;
        justify-self: center;
        flex-basis: 100%;
    }

    .primary-form {
        flex-basis: 100%;
        margin: 1em;
    }

/* STORE */

#product-store {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}