$primaryColor: #ee3030; //orangeish red

$primaryWhite: #fff; //white

$primaryGray: #f2f2f2; //light gray

$searchBarColor: #f8f8f8; //light gray

$iconColor: #595959; //dark gray

$primaryBlack: #202020; //black