

    
    /* Grid Rules */
    
    .large-3 {
        width: 25%;
    }
    

    /* Header */

    header img {
        float: left;
        margin-left: 15px;
    }

    /* Main Navigation */
    
    


