/* Main Navigation */

nav > ul {
    list-style: none;
}

#primary-nav {
    border-style: solid;
}

#secondary-nav {
    border-style: solid;
}

#primary-nav > ul {
    display: flex;
    justify-content: flex-end;
}

#secondary-nav > ul {
    display: flex;
    justify-content: flex-end;
}

#primary-nav > ul > li {
    margin: 0px 15px;
}

#secondary-nav > ul > li {
    margin: 0px 15px;
}